<ul>
  <li>
    <a routerLink="/dashboard">
      <img src="assets/banner.jpg" class="img-rounded" width="200" height="50">
    </a>
  </li>
  <li style="float:left">
    <a routerLink="/dashboard">
      <button class="button" type="button" style="vertical-align:middle">
        <span>Dashboard</span>
      </button>
    </a>
  </li>
  <li style="float:left">
    <a routerLink="/leaderboard">
      <button class="button" type="button" style="vertical-align:middle; width:150px;">
        <span>Leaderboards</span>
      </button>
    </a>
  </li>
  <li *ngIf="isLogged" style="float:left">
    <a routerLink="/profile/{{id}}">
      <button class="button" type="button" style="vertical-align:middle;">
        <span>Profile</span>
      </button>
    </a>
  </li>
  <li *ngIf="!isLogged" style="float:right">
    <a routerLink="/register">
      <button class="button" type="button" style="vertical-align:middle">
        <span>Sign Up</span>
      </button>
    </a>
  </li>
  <li *ngIf="!isLogged" style="float:right">
    <a routerLink="/login">
      <button class="button1" type="button" style="vertical-align:middle">
        <span>Log In</span>
      </button>
    </a>
  </li>
  <li *ngIf="isLogged" style="float:right">
    <button (click)="onLogout()" class="button" type="button" style="vertical-align:middle">
      <span>Log Out</span>
    </button>
  </li>
  <li *ngIf="isLogged" style="float:right">
    <a routerLink="/profile/{{id}}">
      <button class="button" type="button" style="vertical-align:middle;">
        <span>{{username}}</span>
      </button>
    </a>
  </li>
</ul>
