#wrapper{
  margin: 10% auto;
  margin-top: 20px;
  background: rgba(0,0,0,0.75);
  padding: 35px;
  max-width: 1142px;
  overflow: auto;
  border-radius: 25px;
}

#info-container{
  width: 350px;
  max-height: 800px;
  background: rgba(255,255,255,1);
  float: left;
  overflow:auto;
  border-radius: 20px;
}
#name-container{
  position: relative;
  font-size: 40px;
  color: white;
  margin-left: 30px;
  float: left;
}

#question-header{
  height: 100px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.question-container{
  background: rgba(30, 87, 118, 0.60);
  height: 400px;
  width: 700px;
  float: right;
  overflow: auto;
}
.card-container{
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
#reply-header{
  height: 100px;
  margin-top: 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.reply-container{
  background: rgba(30, 87, 118, 0.60);
  height: 400px;
  width: 700px;
  float: right;
  overflow: auto;
}
#user-avatar{
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  background-color: #7df9ff;
}
#first{
  margin-top: 20px;
}
#last{
  margin-bottom: 30px;
}
.info-group{
  margin-left:25%;
  margin-bottom: 20px;
  width: 200px;
}
.group-edit{
  margin-left: 20%;
}
.user-info-label{
  display: inline;
  margin-right: 5px;
  font-weight: bold;
}
.user-info-data{
  display: inline;
}
.title-header{
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.title-line{
  border-width: 2px;
  border-color: white;
}
.card{
  width: 630px;
  min-height: 40px;
  border-radius: 5px;
  background-color: white;
  margin:auto;
  margin-bottom: 15px;
  padding: 15px;
  overflow: auto;
  display: list-item;
}
.errorMessage{
  color: red;
  font-size: 12px !important;
  text-align: center;
  font-weight: bold;
}
input{
  font-size: 15px;
  border: 1.5px solid #3e93b2;
  border-radius: 9px;
  width: 200px;
  color: black;
  background-color: white;
  text-indent: 10px;
  left: 60px;
}

.editbtn{
  border-radius: 20px;
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-bottom: 20%;
  background-color: #3d91b0;
  color: white;
  border-color: whitesmoke;
  font-weight: bold;
  margin-left:35%;
  margin-bottom: 20px;
}
.editbtn:hover{
  background-color: whitesmoke;
  color:#3d91b0;
  border-color: #3e93b2;
  font-weight: bold;
}
.vote{
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  padding-right: 20px;
  border-collapse: collapse;
  width: 30px;
  line-height: 1px;
}
.votelab{
  font-size: 15px;
  text-align: center;
}

.stamp{
  color:rgba(150, 150, 150, 0.5);
  text-align: right;
  width: 100%;
}
.questiontitle{
  font-weight: bold;
  font-size: larger;
  color: #3e93b2;
}
.question{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
