<app-header></app-header>

<div id="wrapper" >
  <div id="info-container">
    <div id="user-avatar">{{FirstL}}{{LastL}}</div>
    <div class="info-group" id="first">
      <p class="user-info-label">Username:</p>
      <p class="user-info-data">{{Username}}</p>
    </div>
    <div class="info-group">
      <p class="user-info-label">First Name: </p>
      <p class="user-info-data">{{FirstName}}</p>
    </div>
    <div class="info-group">
      <p class="user-info-label">Last Name: </p>
      <p class="user-info-data">{{LastName}}</p>
    </div>
    <div class="info-group">
      <p class="user-info-label">Date Joined: </p>
      <p class="user-info-data">{{datejoined}}</p>
    </div>
    <div class="info-group" id="last">
      <p class="user-info-label">Reputation points: </p>
      <p class="user-info-data">{{Reputation}}</p>
    </div>
  </div>

  <div id="name-container">
    <p>{{Username}}</p>
  </div>

  <div class="question-container" id="question-header">
    <h1 class="title-header">Questions</h1>
    <hr class="title-line">
  </div>
  <div class="question-container">

    <div class="card">Question1
      <span>Title</span>
      <span> 20</span>

    </div>
    <div class="card">Question1
      <span>Title</span>
      <span> 20</span>

    </div><div class="card">Question1
    <span>Title</span>
    <span> 20</span>

  </div><div class="card">Question1
    <span>Title</span>
    <span> 20</span>

  </div><div class="card">Question1
    <span>Title</span>
    <span> 20</span>

  </div><div class="card">Question1
    <span>Title</span>
    <span> 20</span>

  </div><div class="card">Question1
    <span>Title</span>
    <span> 20</span>

  </div><div class="card">Question1
    <span>Title</span>
    <span> 20</span>

  </div><div class="card">Question1
    <span>Title</span>
    <span> 20</span>

  </div>
    <div class="card">Question2</div>

  </div>

  <div class="reply-container" id="reply-header">
    <h1 class="title-header">Replies</h1>
    <hr class="title-line">
  </div>

  <div class="reply-container">
    <div class="card">Question1
      <span>Title</span>
      <span> 20</span>
    </div>
    <div class="card">Question1
      <span>Title</span>
      <span> 20</span>
    </div>
    <div class="card">Question1
      <span>Title</span>
      <span> 20</span>
    </div>
    <div class="card">Question1
      <span>Title</span>
      <span> 20</span>
    </div>
    <div class="card">Question1
      <span>Title</span>
      <span> 20</span>
    </div>

  </div>

</div>

<app-footer></app-footer>
