<app-header></app-header>


<div class="container">
  <div class="card my-3 p-3">
    <h6 class="border-bottom border-gray pb-2 mb-0">{{currentQuestion.questionTitle}}</h6>
    <p class="border-bottom border-gray py-2 mb-0">{{currentQuestion.message}}</p>
    <small class="border-bottom border-gray py-2 mb-0">Submitted on: {{currentQuestion.postedDate}} by {{currentQuestion.author}}</small>
  </div>

  <div class="card my-3 p-3">
    <h6>Answers ({{currentQuestion.answerModel.length}})</h6>
    <div class="card my-3 p-3" *ngFor="let answer of currentQuestion.answerModel">
      <h6 class="border-bottom border-gray pb-2 mb-0">{{answer.author}}</h6>
      <p class="border-bottom border-gray py-2 mb-0">{{answer.message}}</p>
      <small class="py-2 mb-0">Submitted on: {{answer.postedDate}} by {{answer.author}}</small>
    </div>
  </div>
  <div *ngIf="displayAnswerBox; else displayLoginButton">
    <label style="color: white">Reply:
      <textarea #message required cols="155"></textarea>
    </label>
    <button (click)="addAnswer(message.value);" class="btn btn-default">
      Reply
    </button>
  </div>
  <ng-template #displayLoginButton>
    <div>
      <h2 style="color: white">Please sign in to post an answer</h2>
    <button class="btn btn-info" (click)="registerButtonClick();">Register</button>
    <button class="btn btn-info" (click)="loginButtonClick();">Login</button>
    </div>
  </ng-template>
</div>
<app-footer></app-footer>
