<app-header></app-header>


<div class="container">
  <div class="card my-3 p-3">
    <table style="border-collapse:collapse">
      <tbody>
      <tr>
      <td class="votes" style="text-align: center; padding-right: 15px; width: 60px;">
        <div style="min-width: 46px; text-align: center">
          <input (click)="upVoteQuestionClick();" type="image" src="../../assets/upvote.png" style="width: 50px; height: 50px"/>
          <span>{{currentQuestion?.votes.upVotes-currentQuestion?.votes.downVotes}}</span>
          <input (click)="downVoteQuestionClick();" type="image" src="../../assets/downvote.png" style="width: 50px; height: 50px"/>
        </div>
      </td>
      <td class="posts" style="width: 100%;">
        <h6 class="border-bottom border-gray pb-2 mb-0">{{currentQuestion?.questionTitle}}</h6>
        <p *ngIf="editing != currentQuestion?.id; else nowEditing"class="border-bottom border-gray py-2 mb-0">{{currentQuestion?.message}}</p>
        <ng-template #nowEditing>
          <div class="border-bottom border-gray pb-2 mb-0">
            <textarea #editedMessage cols="100">{{currentQuestion.message}}</textarea>
            <br/>
            <button class="btn btn-success" (click)="editQuestion(editedMessage.value)">Save</button> <button class="btn btn-warning" (click)="editing = 0">Cancel</button>
          </div>
        </ng-template>
        <small class="py-2 mb-0">Submitted on: {{currentQuestion?.postedDate}} by {{currentQuestion?.author}}</small>
        <small *ngIf="currentQuestion?.postedDate !== currentQuestion?.updatedTime">
          <br>Updated on: {{currentQuestion.updatedTime}}
        </small>
        <div *ngIf="currentUser === currentQuestion?.author && !editing">
          <small><button class="btn btn-primary btn-sm" (click)="editing = currentQuestion.id">Edit</button></small> <small><button class="btn btn-danger btn-sm" (click)="deleteQuestion()">Delete</button></small>
        </div>
      </td>
      <tr>
      <tbody>
    </table>
  </div>

  <div class="card my-3 p-3">
    <h6>Answers ({{currentQuestion?.answerModel.length}})</h6>
    <div class="card my-3 p-3" *ngFor="let answer of answerArray">
      <table style="border-collapse:collapse">
        <tbody>
        <tr>
        <td class="votes" style="text-align: center; padding-right: 15px; width: 60px;">
          <div style="min-width: 46px; text-align: center">
            <input (click)="upVoteAnswerClick(answer);" type="image" src="../../assets/upvote.png" style="width: 50px; height: 50px"/>
            <span>{{answer.votes.upVotes-answer.votes.downVotes}}</span>
            <input (click)="downVoteAnswerClick(answer);" type="image" src="../../assets/downvote.png" style="width: 50px; height: 50px"/>
          </div>
        </td>
        <td class="posts" style="width: 100%;">
          <h6 class="border-bottom border-gray pb-2 mb-0">{{answer.author}}</h6>
          <p *ngIf="editing != answer.id; else nowEditing"class="border-bottom border-gray py-2 mb-0">{{answer.message}}</p>
          <ng-template #nowEditing>
            <div class="border-bottom border-gray pb-2 mb-0">
              <textarea #editedMessage cols="100">{{answer.message}}</textarea>
              <br/>
              <button class="btn btn-success" (click)="editAnswer(answer, editedMessage.value)">Save</button> <button class="btn btn-warning" (click)="editing = 0">Cancel</button>
            </div>
          </ng-template>
          <small class="py-2 mb-0">Submitted on: {{answer.postedDate}}</small>
          <small *ngIf="answer.postedDate !== answer.updatedTime">
            <br>Updated on: {{answer.updatedTime}}
          </small>
          <small class="py-2 mb-0" style="cursor: pointer; color:blue;" (click)="chooseBestAnswer(answer);" *ngIf="currentPoster">
            <br>Rate As Best Answer
          </small>
          <input *ngIf="answer.id == currentQuestion.bestAnswer" (click)="chooseBestAnswer(answer);" type="image" src="../../assets/bestAnswer.png" style="width: 50px; height: 50px; float: right;"/>
          <div *ngIf="currentUser === answer.author && editing == 0">
            <small><button class="btn btn-primary btn-sm" (click)="editing = answer.id">Edit</button></small> <small><button class="btn btn-danger btn-sm" (click)="deleteAnswer(answer)">Delete</button></small>
          </div>
        </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="displayAnswerBox; else displayLoginButton">
    <label style="color: white">Reply:
      <textarea #message required cols="155"></textarea>
    </label>
    <button type="submit" (click)="addAnswer(message.value); message.value='';" class="btn btn-default">
      Reply
    </button>
  </div>
  <ng-template #displayLoginButton>
    <div>
      <h2 style="color: white">Please sign in to post an answer</h2>
      <button class="btn btn-info" (click)="registerButtonClick();">Register</button>
      <button class="btn btn-info" (click)="loginButtonClick();">Login</button>
    </div>
  </ng-template>
</div>
<app-footer></app-footer>
