<div id="wrapper">

  <div id="logo">
    <a href="">
      <img src="../assets/login-logo.png" width="400px" alt="Houston Answers"></a>
  </div>

  <form id="user_login" (ngSubmit)="onLogin()">
    <div class="form-element">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="Username"[(ngModel)]="user.username" required>
    </div>

    <div class="form-element">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="user.password" required>
    </div>

    <div class="form-element">
      <button type="submit" id="submitButton">Login</button>
    </div>
    <div class="form-element">
      <span id="errorMessage"><small>{{errorMsg}}</small></span>
    </div>
  </form>
</div>
