#leaderboard {
    height: 700px;
    color: white;
    background-color: black;
    opacity: .80;
    text-align: center;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 20px;
}

.list-group-item {
    margin-top: 10px;
    border-radius: 20px;
}

#rank {
    float: left;
    color: black;
}

#userinfo {
    float:right;
    color: black;
}