<app-header></app-header>

<div class="container">
  <div class="row">

  </div>
  <div class="row">

    <div class="col-md-4 offset-md-4" id="leaderboard">
      <h2>User Reputation Leaderboards</h2>


        <div *ngFor="let leaderboard of leaderboards; let i = index" class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-20 justify-content-between" id="rank">
              <h2>#{{i+1}}</h2>
            </div>
            <div class="d-flex-justify-content-between" id="userinfo">
              <h6 class="mb-1">{{leaderboard.firstName}}</h6>
              <span class="badge badge-default badge-pill">Total votes: {{leaderboard.reputation}}</span>
            </div>
          </a>
        </div>


    </div>

  </div>


</div>

<app-footer></app-footer>