<app-header></app-header>

<div class="container">
  <div class="row">

  </div>
  <div class="row">

    <div class="col-md-12" id="leaderboard">
      <h2>User Reputation Leaderboards</h2>
        <div *ngFor="let leaderboard of leaderboards; let i = index" class="list-group">
          <a routerLink="" (click)="OnSelectUser(leaderboard.id)" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-20 justify-content-between" id="rank">
              <h2>#{{i+1}}</h2>
            </div>
            <div class="d-flex-justify-content-between" id="userinfo">
              <h6 class="mb-1"><b>{{leaderboard.firstName}}</b></h6>
              <span class="badge badge-default badge-pill">Reputation: {{leaderboard.reputation}}</span>
            </div>
            <div class="d-flex-justify-content-between" id="bestQuestion" style="float:right">
              <span>User's Highest Rated Question: <em>TODO HERE ... this will be replaced with the user's highest rated question blah blach blah.....</em></span>
            </div>
          </a>
        </div>


    </div>

  </div>


</div>

<app-footer></app-footer>
