<app-header></app-header>
<div class="container">
  <div class="container my-3 p-3">
    <h3 class="texttitle">Title</h3>
    <textarea cols="50" rows="1"  name="Title" style="resize:none" placeholder="Enter title here..." #questionTitle></textarea>
  </div>
  <div class="container">
    <h3 class="textquestion">Question</h3>
    <textarea rows="5" cols="50" name="Message" style="resize:none" placeholder="Enter question here..." #message></textarea>
  </div>
  <div class="container my-3 p-3" role="group" aria-label="Basic example">
    <h3 class="texttags">Tags</h3>
    <select>
      <option value="Tag1">Tag1</option>
      <option value="Tag2">Tag2</option>
      <option value="Tag3">Tag3</option>
      <option value="Tag4">Tag4</option>
    </select>
  </div>
  <div class="container">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Agree to all the terms and conditions</label>
  </div>
  <div class="container my-3 p-3">
    <button type="button" class="btn btn-dark" (click)="addQuestion(message.value, null, questionTitle.value);">Submit</button>
  </div>
</div>
<app-footer></app-footer>
