<app-header></app-header>
<div class="container my-3 py-3">
  <form (submit)="addQuestion();" #heroForm="ngForm">
    <div class="form-group my-3 p-3">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
             required
             [(ngModel)]="questionTitle" name="title"
             #currentTitle="ngModel">
      <div [hidden]="currentTitle.valid || currentTitle.pristine" class="alert alert-danger">
        Title is required!
      </div>
    </div>

    <div class="form-group my-3 p-3">
      <label for="question">Question</label>
      <input type="text" class="form-control" id="question"
             required
             [(ngModel)]="message" name="question"
             #currentQuestion="ngModel">
      <div [hidden]="currentQuestion.valid || currentQuestion.pristine" class="alert alert-danger">
        Question is required!
      </div>
    </div>

    <div class="form-group my-3 p-3">
      <label for="category">Categories</label>
      <select class="form-control" id="category"
              required
              [(ngModel)]="questionCategories" name="category"
              #currentCategory="ngModel">
        <option *ngFor="let categ of categories" [value]="categ">{{categ}}</option>
      </select>
      <div [hidden]="currentCategory.valid || currentCategory.pristine" class="alert alert-danger">
        Category is required
      </div>
    </div>

    <div class="from-group my-3 p-3">
      <label for="terms">
        <input type="checkbox" id="terms"
               required
               [checked]="acceptance"
               (change)="acceptance = !acceptance">Agree to all the terms and conditions
      </label>
    </div>

    <div class="container my-3 p-3">
      <button type="submit" class="btn btn-dark" [disabled]="!heroForm.form.valid || !acceptance">Submit</button>
    </div>
  </form>
</div>
<app-footer></app-footer>
