<ul>
  <li>
    <!-- Changing href later -->
    <a href="welcome.html">
      <img src="assets/banner.jpg" class="img-rounded" width="200" height="50">
    </a>
  </li>
  <li style="float:right">
    <!-- Changing href later -->
    <button onclick="location.href='/register'" class="button" type="button" style="vertical-align:middle">
            <span>Sign Up
            </span>
    </button>
  </li>
  <li style="float:right">
    <!-- Changing href later -->
    <button onclick="location.href='/login'"  class="button1" type="button" style="vertical-align:middle">
            <span>Log In
            </span>
    </button>

  </li>
</ul>
