<div id="wrapper">

  <div id="logo">
    <a routerLink="/dashboard">
      <img src="../assets/login-logo.png" width="400px" alt="Houston Answers"></a>
  </div>

  <form #lForm="ngForm" (ngSubmit)="onLogin()" novalidate>
    <div class="form-element">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username" required #username="ngModel" [(ngModel)]="user.username" >
      <small class="errorMessage error" [hidden]="username.valid || (username.pristine && !lForm.submitted)">*Username is required</small>
    </div>

    <div class="form-element">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" required #password="ngModel" [(ngModel)]="user.password">
      <small class="errorMessage error" [hidden]="password.valid || (password.pristine && !lForm.submitted)">*Password is required</small>
      <a routerLink="forgotPassword"><small id="forgot-pass">Forgot Password</small></a>

    </div>

    <div class="form-element">
      <button type="submit" class="submitButton" id="first">Login</button>
      <a routerLink="/register"><button type="button" class="submitButton">Sign Up</button></a>
    </div>
    <div [hidden]="!errorAlert"  class="alert alert-danger errorMessage">{{errorMsg}}</div>
  </form>
</div>
