input{
  position: relative;
  font-size: 20px;
  border: none;
  border-bottom: 1.5px solid #3e93b2;
  width: 320px;
  color: white;
  background-color: black;
  text-indent: 10px;
}
label{
  position: relative;
  top: 4px;
  left: 15%;
  font-size: 20px;
  width: 200px;
  width: 300px;
  color: #3e93b2;
  font-weight: bold;
}
#wrapper{
  background-color: black;
  opacity: .75;
  border-radius: 30px;
  width: 700px;
  margin: 10% auto;
  box-shadow: 5px 10px 50px #3e93b2;
}
#logo{
  padding-top: 10%;
  margin-left: 23%;
}
.form-element{
  margin-top: 20px
}
#first{
  margin-left: 300px;
  margin-top: 5%;
}
.submitButton{
  border-radius: 20px;
  border-width: 1px;
  width: 100px;
  margin-left: 30px;
  margin-bottom: 20%;
  background-color: #7df9ff;
  color: black;
  opacity: .80;
  font-weight: bold;
}
.submitButton:hover{
  background-color: black;
  color:#7df9ff;
  border-color: #3e93b2;
  font-weight: bold;
}
.errorMessage{
  color: red;
  font-size: 110% !important;
  text-align: center;
  font-weight: bold;
}
.successMessage{
  color: green;
  font-size: 110% !important;
  text-align: center;
  font-weight: bold;
}
.error{
  margin-left: 300px;
}
.ng-valid[required], .ng-valid.required  {
  border: 2px solid #42A948; /* green */
  border-radius: 20px;
}
.ng-invalid:not(form)  {
  border: 2px solid #a94442; /* red */
  border-radius: 20px;
}
#forgot-pass{
  margin-left: 310px;
  margin-top: 30px;
  color: #3e93b2;
  font-size: 15px;
}
#forgot-pass:hover{
  color: white;
}
.forgot-question-input{

}
