input{
  position: relative;
  font-size: 15px;
  border: none;
  border-bottom: 1.5px solid #3e93b2;
  width: 250px;
  color: black;
  background-color: white;
  text-indent: 10px;
  left: 60px;
}
label{
  position: relative;
  top: 4px;
  left: 60px;
  font-size: 18px;
  width: 100px;
  color: #3d91b0;
  font-weight: bold;
}

#wrapper{
  background: linear-gradient(to bottom right, whitesmoke, lightgrey);
  border-radius: 45px;
  width: 500px;
  margin: auto;
  margin-top: 10vh;

  position: relative;
}
#logo{
  padding-top: 5%;
  margin-left: 23%;
}


#fpl{
  position: relative;
  left: 225px;
}

.form-element{
  margin-top: 20px
}
#first{
  margin-left: 180px;
  margin-top: 5%;
}
.submitButton{
  border-radius: 20px;
  width: 100px;
  height: 50px;
  margin-left: 30px;
  margin-bottom: 20%;
  background-color: #3d91b0;
  color: white;
  border-color: whitesmoke;
  font-weight: bold;
}
.submitButton:hover{
  background-color: whitesmoke;
  color:#3d91b0;
  border-color: #3e93b2;
  font-weight: bold;
}
.errorMessage{
  color: red;
  font-size: 15px !important;
  text-align: center;
  font-weight: bold;
}
.successMessage{
  color: green;
  font-size: 110% !important;
  text-align: center;
  font-weight: bold;
}
.error{
  margin-left: 180px;
}
.ng-valid[required], .ng-valid.required  {
  border: 2px solid #42A948; /* green */
  border-radius: 20px;
}
.ng-invalid:not(form)  {
  border: 2px solid black; /* red */
  border-radius: 20px;
}
#forgot-pass{
  margin-left: 180px;
  margin-top: 30px;
  color: #3e93b2;
  font-size: 15px;
}
#forgot-pass:hover{
  color: grey;
}
.forgot-question-input{

}
#forgot-pass-submit{
  margin-left: 180px;
  margin-top: 5%;
}
#forgot-pass-submit2{
  margin-left: 180px;
  margin-top: 5%;
}




