<div id="wrapper">

  <div id="logo">
    <a href="">
      <img src="../assets/login-logo.png" width="400px" alt="Houston Answers"></a>
  </div>

  <form id="user_login" (ngSubmit)="onLogin()">
    <div class="form-element">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="Username"[(ngModel)]="user.username" required>
    </div>

    <div class="form-element">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="user.password" required>
    </div>

    <div class="form-element">
      <button type="submit" class="submitButton" id="first">Login</button>
      <button onclick="location.href='/register'" class="submitButton">Sign Up</button>
    </div>
    <div *ngIf="errorAlert" class="alert alert-danger errorMessage">{{errorMsg}}</div>
  </form>
</div>
