<app-header></app-header>

<div class="container">
    <div class="row" id="firstRow">
        <div class="col-md-7 col-md-offset-1">
            <input style="width:100%;" [(ngModel)]="dashSearch" type="text" placeholder="Search...">
        </div>
        <div class="col-md-1">
            <button (click)="OnSearch(dashSearch)">Search</button>
        </div>
        <div class="col-md-1">
            <div class="card">
                <a href="" id="askButton" class="btn btn-primary btn-large">
                    Ask your question
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel col-md-8">
            <ul *ngFor="let question of questions" class="list-group">
                <li class="list-group-item justify-content-between">
                    <a routerLink="" (click)="OnSelect(question)">{{question.questionTitle}}</a>
                    <span class="badge badge-default badge-pill">{{question.votes.upVotes - question.votes.downVotes}}</span>
                    <small>Submitted:
                        <span>#</span> days ago</small>
                    <p class="" id="" style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{question.message}}</p>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-md-offset-8">
            <div id="right-side-bar" class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <span class="navbar-brand" id="nav-categories">
                        <h3>Browse by category</h3>
                    </span>
                </div>

                <ul id="category-list" class="list-group">
                    <button (click)="OnSearch(category1)" type="button" class="list-group-item list-group-item-action" [(ngModel)]="category1">Category 1</button>
                    <button (click)="OnSearch(category2)" type="button" class="list-group-item list-group-item-action" [(ngModel)]="category2">Category 1</button>
                    <button (click)="OnSearch(category3)" type="button" class="list-group-item list-group-item-action" [(ngModel)]="category3">Category 1</button>
                    <button (click)="OnSearch(category4)" type="button" class="list-group-item list-group-item-action" [(ngModel)]="category4">Category 1</button>
                    <button (click)="OnSearch(category5)" type="button" class="list-group-item list-group-item-action" [(ngModel)]="category5">Category 1</button>
                </ul>

            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>