
.navbar-brand{
    padding: 0.05px;
}

h4{
    color: white;
    font-weight: bold;

}

.text-center{
    padding-top: 150px;
}

.navbar-nav li{
    font-weight: bold;
    color: #3f93b3;
}

.navbar-nav li:hover{
    background-color: #3f93b3;
}


navbar-right:hover{
    background-color: #3f93b3;
}

.navbar-nav li:active{
    background-color: #1b6d85;
}

#imaginary_container{
    margin-top: 10%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.media {
    background-color: white;
}

.media-heading {
    color: black;
}

.media-left img {
    width:50px;
    height: 50px;
}

.media-body img {
    width:20px;
    height:20px;
    float:right;
}

.nav li:hover{
    background-color: #3f93b3;
}

#nav-categories {
    color: white;
}

#nav-categories-pills li a{
    font-weight: bold;
    color: white;
    
}

#nav-categories-pills li a:hover{
    background-color: #3f93b3;
}

.btn-primary{
    width: 350px;
    height: 75px;
    padding-top: 17px;
    font-size: 25px;
    background-color: #3f93b3;
}
.btn-primary:hover{
    background-color: white;
    color: #3f93b3;
}

.btn-primary:active{
    background-color: white;
    color: #1b6d85;
}

.btn-outline-primary{
    height: 50px;
    width: 120px;
    font-weight: bold;
    background-color: #3f93b3;
    color: white;
}

.list-group-item {
    margin-top: 10px;
}

#right-side-bar {
    margin-top: 10px;
    background: transparent;
    background-color: black;
    opacity: 0.75; 
    border: 0px;
    border-radius: 5px;
}

#category-list li{
    margin-top: 0px;
    background: transparent;
    background-color: black;
    opacity: 0.75; 
    color: white;
}



#nav-categories h3{
    margin-left: 20px;
    
}

#nav-categories-pills {
    margin-bottom: 10px;
    clear: both;
}
  
html, body, container {
    height: 100%;
}
  
#wrap {
    min-height:40%;
}
  
#main {
    overflow: auto;
    padding-bottom: 40px;
    /* must be same height as the footer */
}
  
#footer{
    position: relative;
    bottom:0;
    margin-top: -40px;
    height: 40px;
    clear: both;
    background-color: gray;
    color: lightgray;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}

.list-group {
    background-color: transparent;
}

.card {
    border: none;
}

#firstRow {
    margin-top: 10px;
}


